<html>
    <head>
    	<title><%= data.title %> - Virginia Alonso</title>
    	<link href="/favicon.png" rel="icon" type="image/x-icon" />
    	<link href="/style.css" rel="stylesheet" type="text/css"/>
      <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>

    </head>

    <body>
      <header class="main"> 
      <a HREF="/about">About Me</a> | <a HREF="mailto:virginia.alonsonavarro@gmail.com?Subject=Hello!"> Your Thoughts</a> | <font size="4">©</font> 2013 
      </header>
      <div id="tntln_logo">
        <a href="/">
          <div><img src="http://sphotos-c.ak.fbcdn.net/hphotos-ak-snc6/215520_10150215695701253_2755497_n.jpg" class="logo1"></div>
          <span class="tntl">TNTL</span><span class="n">N</span>
        </a>
      </div>
    
    <h1><%= data.title %>
      <% if (user) { %>
        <span class="delete" data-id="<%= data._id %>">&nbsp;&times;</span><a href="/edit/<%= data._id %>"> (edit)</a>
      <% } %>
    </h1>
    <p id="content">
      <%- data.post.replace(/\r\n|\r|\n/g,"<br />") %>
    </p>
    <p>
      <abbr title="<%- data.last_edit %>">[<%- data.fromNow %>]</abbr>
    </p>
    
    <div align="center"> ( Go <a style="color: #FFBF00" HREF="/">back </a>) </div>
    <div class="bg"></div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/autoresize.jquery.js"></script>

    <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function($) {
      $(".delete").on('click', function(){
      
        if (!confirm("Are you sure you want to delete this?")) return;
        $.ajax({
          type: "DELETE",
          url: "/post/<%= data._id %>",
          success: function(data) {
            window.location = "/";
          },
        });
      });  
    });
    </script>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39346194-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    </body>
</html>